.game-card {
  background-color: #1C1C1E;
  margin: 20px 0;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid #2F2F30;
  animation-delay: var(--animation-delay); /* Use CSS variables for dynamic styles */
}

.card-header {
  padding: 20px;
}

.team-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team-logo {
  height: 40px;
  width: auto;
}

/* ... more styles here */
